.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }
}

.stickyTabsContainer {
  position: sticky;
  top: var(--ifm-navbar-height);
  z-index: 10;
  background-color: var(--ifm-background-color);
  padding: 16px;
  margin-bottom: 1rem;
}

.theme-doc-sidebar-container {
  position: relative;
  z-index: 100;
}

.docItemCol {
  max-width: 100% !important;
}

.docItemContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
