# Dependencies
**/node_modules

# Output
**/dist
**/build

# System Files
**/.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.vscode/*


# Logs
**/.log*

# Package ignores
packages/website/docs/generated-docs/*
packages/website/.docusaurus
packages/website/.cache-loader
packages/website/static/css/*
