:root {
  --ax-public-icon-label-button-padding-extra-large: var(
      --ax-token-spacing-button-xl-v-pad-2
    )
    var(--ax-token-spacing-button-xl-h-pad-2);
  --ax-public-icon-label-button-padding-large: var(
      --ax-token-spacing-button-l-v-pad-2
    )
    var(--ax-token-spacing-button-l-h-pad-2);
  --ax-public-icon-label-button-padding-medium: var(
      --ax-token-spacing-button-m-v-pad-2
    )
    var(--ax-token-spacing-button-m-h-pad-2);
  --ax-public-icon-label-button-padding-small: var(
      --ax-token-spacing-button-s-v-pad-2
    )
    var(--ax-token-spacing-button-s-h-pad-2);
  --ax-public-icon-label-button-padding-extra-small: var(
      --ax-token-spacing-button-xs-v-pad-2
    )
    var(--ax-token-spacing-button-xs-h-pad-2);
}

@layer ui.component {
  .extra-large {
    padding: var(--ax-public-icon-label-button-padding-extra-large);
  }

  .large {
    padding: var(--ax-public-icon-label-button-padding-large);
  }

  .medium {
    padding: var(--ax-public-icon-label-button-padding-medium);
  }

  .small {
    padding: var(--ax-public-icon-label-button-padding-small);
  }

  .extra-small {
    padding: var(--ax-public-icon-label-button-padding-extra-small);
  }
}
