:root {
  --wb-list-item-padding-large: var(--ax-token-spacing-dropdown-item-l-v-pad)
    var(--ax-token-spacing-dropdown-item-l-h-pad);
  --wb-list-item-padding-medium: var(--ax-token-spacing-dropdown-item-m-v-pad)
    var(--ax-token-spacing-dropdown-item-m-h-pad);
  --wb-list-item-padding-small: var(--ax-token-spacing-dropdown-item-s-v-pad)
    var(--ax-token-spacing-dropdown-item-s-h-pad);
  --wb-list-item-gap-small: var(--ax-token-spacing-dropdown-item-s-gap);
  --wb-list-item-gap-medium: var(--ax-token-spacing-dropdown-item-m-gap);
  --wb-list-item-gap-large: var(--ax-token-spacing-dropdown-item-l-gap);
}

@layer ui.component {
  .large {
    composes: p9 from global;
    padding: var(--wb-list-item-padding-large);
    gap: var(--wb-list-item-gap-large);
  }

  .medium {
    composes: p10 from global;
    padding: var(--wb-list-item-padding-medium);
    gap: var(--wb-list-item-gap-medium);
  }

  .small {
    composes: p10 from global;
    padding: var(--wb-list-item-padding-small);
    gap: var(--wb-list-item-gap-small);
  }
}
