:root {
  --ax-public-list-box-background-color: var(--ax-dropdown-bg-primary-default);
  --ax-public-list-box-border-radius: var(--ax-token-radius-dropdown-wrap-s);
  --ax-public-list-box-box-shadow: var(--ax-token-shadow-shadow-s-x)
    var(--ax-token-shadow-shadow-s-y) var(--ax-token-shadow-shadow-s-blur)
    var(--ax-token-shadow-shadow-s-spread) var(--ax-shadow);
  --ax-public-list-box-padding: var(--ax-token-spacing-dropdown-wrap-s-v-pad)
    var(--ax-token-spacing-dropdown-wrap-s-h-pad);
  --ax-public-list-box-gap: var(--ax-token-spacing-dropdown-wrap-s-gap);
}

@layer ui.component {
  .popup {
    border-radius: var(--ax-public-list-box-border-radius);
    margin-top: 0.25rem;
    background: var(--ax-public-list-box-background-color);
    box-shadow: var(--ax-public-list-box-box-shadow);
    z-index: 10000;
    &:global(:not(.base--open)) {
      /* This is work-around to fix problems with site shifts after browser resizing caused by placing Menu's dropdown in fixed position during render.
      * The .base--open class was used because the .popup class affects both Menu and Select, and both components share the same .base--open class
      */
      display: none;
      transform: unset !important;
    }
  }

  .list-box {
    display: flex;
    padding: var(--ax-public-list-box-padding);
    flex-direction: column;
    align-items: center;
    gap: var(--ax-public-list-box-gap);
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;

    margin: 0;
  }
}
