:root {
  --wb-button-primary-background: var(--ax-button-primary-bg-default);
  --wb-button-primary-background-hover: var(--ax-button-primary-bg-hover);
  --wb-button-primary-background-active: var(--ax-button-primary-bg-active);
  --wb-button-primary-background-focus: var(--ax-button-primary-bg-focus);

  --wb-button-secondary-border-color: var(--ax-ui-stroke-secondary-default);
  --wb-button-secondary-color: var(--ax-txt-primary-default);
  --wb-button-secondary-border-color-hover: var(--ax-ui-stroke-primary-focus);
  --wb-button-secondary-color-active: var(--ax-txt-secondary-default);
  --wb-button-secondary-border-color-active: var(--ax-ui-stroke-primary-focus);
  --wb-button-secondary-border-color-focus: var(--ax-ui-stroke-primary-focus);
  --wb-button-secondary-border-color-disabled: var(
    --ax-ui-stroke-secondary-default
  );
  --wb-button-secondary-color-disabled: var(--ax-txt-quaternary-default);

  --wb-button-gray-background: var(--ax-button-gray-bg-default);
  --wb-button-gray-background-hover: var(--ax-button-gray-bg-hover);
  --wb-button-gray-background-active: var(--ax-button-gray-bg-active);
  --wb-button-gray-background-focus: var(--ax-button-gray-bg-focus);

  --wb-button-error-background: var(--ax-button-red-bg-default);
  --wb-button-error-background-hover: var(--ax-button-red-bg-hover);
  --wb-button-error-background-active: var(--ax-button-red-bg-active);
  --wb-button-error-background-focus: var(--ax-button-red-bg-focus);

  --wb-button-success-background: var(--ax-button-green-bg-default);
  --wb-button-success-background-hover: var(--ax-button-green-bg-hover);
  --wb-button-success-background-active: var(--ax-button-green-bg-active);
  --wb-button-success-background-focus: var(--ax-button-green-bg-focus);

  --wb-button-warning-background: var(--ax-button-orange-bg-default);
  --wb-button-warning-background-hover: var(--ax-button-orange-bg-hover);
  --wb-button-warning-background-active: var(--ax-button-orange-bg-active);
  --wb-button-warning-background-focus: var(--ax-button-orange-bg-focus);

  --wb-button-background-color-disabled: var(--ax-button-primary-bg-disabled);
  --wb-button-inner-border-color: var(--ax-ui-bg-primary-default);
  --wb-button-color: var(--ax-txt-primary-inverse);

  --wb-button-nav-background-color: var(--ax-nav-button-bg-primary-hover);
  --wb-button-nav-color: var(--ax-nav-button-icon-primary-default);
  --wb-button-nav-color-active: var(--ax-nav-button-icon-primary-active);
  --wb-button-nav-color-hover: var(--ax-nav-button-icon-primary-hover);
  --wb-button-nav-color-disabled: var(--ax-nav-button-icon-primary-disabled);

  --wb-button-border-radius-large: var(--ax-radius-button-radius-4);
  --wb-button-border-radius-medium: var(--ax-radius-button-radius-3);
  --wb-button-border-radius-small: var(--ax-radius-button-radius-2);
  --wb-button-border-radius-circle: var(--ax-radius-button-radius-max);

  --wb-button-loader-dot-size: 0.3125rem;
  --wb-button-loader-dot-border-radius: 0.3125rem;
  --wb-button-loader-dot-color: var(--ax-txt-primary-inverse);
  --wb-button-loader-animation-duration: 0.75s;

  --wb-icon-size-extra-large: var(--ax-spacing-spacing-2);
  --wb-icon-size-large: var(--ax-spacing-spacing-3);
  --wb-icon-size-medium: 1.125rem;
  --wb-icon-size-small: 1.125rem;
  --wb-icon-size-extra-small: var(--ax-spacing-spacing-4);
  --wb-icon-size-xx-xxx-small: var(--ax-spacing-spacing-5);
  --wb-icon-size-xxxx-small: 0.625rem;
}
