:root {
  --ax-public-node-title-color: var(--ax-txt-primary-default);
  --ax-public-node-title-subtitle: var(--ax-txt-secondary-default);

  --ax-public-node-title-subtitle-line-clamp: 10 /* missing token */;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;

  .title {
    color: var(--ax-public-node-title-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }

  .subtitle {
    color: var(--ax-public-node-title-subtitle);
    display: -webkit-box;
    -webkit-line-clamp: var(--ax-public-node-title-subtitle-line-clamp);
    line-clamp: var(--ax-public-node-title-subtitle-line-clamp);
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
