:root {
  --ax-public-collapsible-transition-duration: 0.2s;
}

.expand-button {
  z-index: 10;

  svg {
    transition: transform var(--ax-public-collapsible-transition-duration) ease;
  }

  &.expanded {
    svg {
      transform: rotate(180deg);
    }
  }
}

.content-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows
    var(--ax-public-collapsible-transition-duration) ease;
  box-sizing: border-box;

  &.expanded {
    overflow: unset;
    grid-template-rows: 1fr;
  }

  .content {
    min-height: 0;
  }
}
