@layer ui.base {
  .container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: var(--wb-switch-width);
    height: var(--wb-switch-height);
    border-radius: var(--wb-switch-border-radius);
    border: 1px solid var(--wb-switch-outline-color);
    cursor: pointer;

    &:not(:hover) {
      transition: background-color var(--wb-transition);
    }

    .input {
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      margin: 0;
      cursor: inherit;
    }

    .thumb {
      position: absolute;
      background-color: var(--wb-thumb-no-selected-color);
      border-radius: var(--wb-switch-border-radius);
      transition: transform var(--wb-transition);
    }

    .track {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: var(--wb-switch-border-radius);
    }

    &:focus-visible {
      box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1);
    }

    &:has(input:checked) {
      .thumb {
        background-color: var(--wb-thumb-selected-color);
      }

      .track {
        background-color: var(--wb-track-selected-color);
      }
    }

    &:has(input:disabled) {
      border-color: var(--wb-switch-disabled-border-color);

      .track {
        background-color: var(--wb-switch-disabled-background-color);
      }

      .thumb {
        background-color: var(--wb-thumb-disabled-color);
      }
    }

    &.small {
      width: var(--wb-switch-width-small);
      height: var(--wb-switch-height-small);
      border-radius: var(--wb-switch-border-radius-small);

      .thumb {
        width: var(--wb-switch-thumb-size-small);
        height: var(--wb-switch-thumb-size-small);
        top: var(--wb-switch-thumb-y-offset-small);
        left: var(--wb-switch-thumb-y-offset-small);
      }

      &:has(input:checked) {
        .thumb {
          transform: translateX(var(--wb-switch-thumb-x-offset));
        }
      }

      &:focus-visible {
        box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1);
      }

      &:has(input:disabled) {
        border-color: var(--wb-switch-disabled-border-and-thumb-color);

        .track {
          background-color: var(--wb-switch-disabled-background-color);
        }

        .thumb {
          background-color: var(--wb-switch-disabled-border-and-thumb-color);
        }
      }
    }

    &.large {
      width: var(--wb-switch-width-large);
      height: var(--wb-switch-height-large);
      border-radius: var(--wb-switch-border-radius-large);

      .thumb {
        width: var(--wb-switch-thumb-size-large);
        height: var(--wb-switch-thumb-size-large);
        top: var(--wb-switch-thumb-y-offset-large);
        left: var(--wb-switch-thumb-y-offset-large);
      }

      &:has(input:checked) {
        .thumb {
          transform: translateX(var(--wb-switch-thumb-x-offset-large));
        }
      }
    }
  }
}
