:root {
  --wb-switch-width: 1.75rem;
  --wb-switch-height: 1.125rem;
  --wb-switch-border-radius: 6.25rem;
  --wb-switch-thumb-size: 0.875rem;
  --wb-switch-thumb-x-offset: 0.625rem;
  --wb-switch-thumb-y-offset: 0.125rem;

  --wb-switch-width-small: 1.625rem;
  --wb-switch-height-small: 1rem;
  --wb-switch-border-radius-small: 6.25rem;
  --wb-switch-thumb-size-small: 0.75rem;
  --wb-switch-thumb-x-offset-small: 0.625rem;
  --wb-switch-thumb-y-offset-small: 0.125rem;

  --wb-switch-width-large: 1.875rem;
  --wb-switch-height-large: 1.25rem;
  --wb-switch-border-radius-large: 6.25rem;
  --wb-switch-thumb-size-large: 1rem;
  --wb-switch-thumb-x-offset-large: 0.625rem;
  --wb-switch-thumb-y-offset-large: 0.125rem;

  --wb-switch-outline-color: var(--color-ui-ui--stroke--secondary--default);
  --wb-switch-disabled-background-color: var(
    --color-ui-ui--bg--tertiary--default
  );
  --wb-switch-disabled-border-color: var(
    --color-ui-ui--stroke--secondary--default
  );
  --wb-track-no-selected-color: var(--color-ui-ui--bg--primary--default);
  --wb-track-selected-color: var(--color-ui-ui--bg--tertiary--selected);
  --wb-thumb-no-selected-color: var(
    --color-ui-nav-bttn--icon--primary--default
  );
  --wb-thumb-disabled-color: var(--color-ui-nav-bttn--icon--primary--disabled);
  --wb-thumb-selected-color: var(--colors-gray-gray-100); /* missing token */

  --wb-icon-switch-width: 4.125rem;
  --wb-icon-switch-height: 2.125rem;
  --wb-icon-switch-thumb-size: 1.75rem;
  --wb-icon-switch-thumb-offset: 0.1875rem;
  --wb-icon-switch-translate: 2rem;
  --wb-icon-switch-padding: 0.5rem;
  --wb-icon-switch-icon-size: 1rem;

  --wb-icon-switch-track-bg: var(--ax-ui-bg-tertiary-default);
  --wb-icon-switch-thumb-bg-primary: var(--ax-ui-bg-tertiary-selected);
  --wb-icon-switch-icon-color: var(--ax-txt-tertiary-default);
  --wb-icon-switch-icon-selected-color: var(--ax-txt-primary-white); 
  --wb-icon-switch-thumb-bg-secondary: var(--ax-ui-bg-primary-default);
}
