:root {
  --ax-public-tooltip-default-background: var(--ax-tooltip-bg-default);
  --ax-public-tooltip-blue-background: var(--ax-tooltip-bg-blue);
  --ax-public-tooltip-padding: var(--ax-token-spacing-tooltip-v-pad) var(--ax-token-spacing-tooltip-h-pad);
  --ax-public-tooltip-radius-size: var(--ax-token-radius-tooltip);
  --ax-public-tooltip-text-color: var(--ax-txt-tooltip-bw);
  --ax-public-tooltip-blue-text-color: var(--ax-txt-tooltip-blue);
}
