:root {
  --wb-tooltip-default-background: var(--color-tooltip-tooltip--bg--default);
  --wb-tooltip-blue-background: var(--color-tooltip-tooltip--bg--blue);
  --wb-tooltip-padding: 4px 8px;
  --wb-tooltip-radius-size: 5px;
  --wb-tooltip-text-color: var(--color-text-txt--tooltip--bw);
  --wb-tooltip-blue-text-color: var(--color-text-txt--tooltip--blue);
}
