:root {
  --ax-public-node-width: 15rem;

  --ax-public-node-padding: var(--ax-token-spacing-node-head-v-pad);
  --ax-public-node-gap: var(--ax-token-spacing-node-head-gap);
  --ax-public-node-border-radius: var(--ax-token-radius-node-head);

  --ax-public-node-border-color: var(--ax-node-stroke-primary-default);
  --ax-public-node-background-color: var(--ax-node-bg-primary-default);
  --ax-public-node-hover-color:
    linear-gradient(
      0deg,
      var(--ax-node-bg-primary-hover) 0%,
      var(--ax-node-bg-primary-hover) 100%
    ),
    var(--ax-public-node-background-color);
  --ax-public-node-border-hover-color: var(--ax-node-stroke-primary-hover);

  --ax-public-node-border-color-selected: var(--ax-node-stroke-primary-hover);
  --ax-public-node-box-shadow-selected: var(
      --ax-token-shadow-focus-node-active-x
    )
    var(--ax-token-shadow-focus-node-active-y)
    var(--ax-token-shadow-focus-node-active-blur)
    var(--ax-token-shadow-focus-node-active-spread)
    var(--ax-focus-ring-node-active);

  --ax-public-node-status-right: var(--ax-primitive-even-12);
  --ax-public-node-status-size: var(--ax-primitive-even-20);
  --ax-public-node-status-icon-size: var(--ax-primitive-even-12);
  --ax-public-node-status-invalid-color: var(--ax-colors-orange-100);
  --ax-public-node-status-invalid-background-color: var(--ax-colors-orange-400);
}

@layer ui.component {
  .container:hover .inner-container {
    background: var(--ax-public-node-hover-color);
    border-color: var(--ax-public-node-border-hover-color);
  }

  .inner-container {
    display: flex;
    width: var(--ax-public-node-width);
    padding: var(--ax-public-node-padding);
    gap: var(--ax-public-node-gap);
    align-items: center;
    flex-direction: column;

    border-radius: var(--ax-public-node-border-radius);
    border: 1px solid var(--ax-public-node-border-color);
    background: var(--ax-public-node-background-color);

    &.selected {
      border-color: var(--ax-public-node-border-color-selected);
      box-shadow: var(--ax-public-node-box-shadow-selected);
    }

    &:not(:hover) {
      transition:
        border-color var(--wb-transition),
        box-shadow var(--wb-transition);
    }

    .header-container {
      display: flex;
      gap: 0.5rem;
    }

    .header-container,
    .content-container {
      width: 100%;
    }

    .status-container {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: var(--ax-public-node-status-right);
      top: 0;
      transform: translateY(-50%);
      height: var(--ax-public-node-status-size);
      aspect-ratio: 1 / 1;
      border-radius: 50%;

      svg {
        height: var(--ax-public-node-status-icon-size);
        aspect-ratio: 1 / 1;
        fill: currentColor;
      }

      &.status-container--invalid {
        color: var(--ax-public-node-status-invalid-color);
        background: var(--ax-public-node-status-invalid-background-color);
      }
    }

    .status-container,
    .header-container,
    .content-container,
    .handles-container {
      &:empty {
        display: none;
      }
    }
  }
}
