.markdown {
  a {
    color: var(--ifm-link-color);
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  li {
    margin-left: 1rem;
  }

  table {
    width: 100%;
    display: table;

    margin-bottom: 1.25rem;

    th {
      text-align: left;
    }
  }
}
