:root {
  /* color */
  --ax-colors-blue-100: #eef2fd;
  --ax-colors-blue-200: #e3e8f5;
  --ax-colors-blue-300: #d0d8eb;
  --ax-colors-blue-400: #336dff;
  --ax-colors-blue-400-10: #336dff1a;
  --ax-colors-blue-400-20: #336dff33;
  --ax-colors-blue-400-30: #336dff4d;
  --ax-colors-blue-400-50: #336dff80;
  --ax-colors-blue-500: #2b5bd5;
  --ax-colors-blue-600: #2249ab;
  --ax-colors-gray-100: #ffffff;
  --ax-colors-gray-100-10: #ffffff1a;
  --ax-colors-gray-100-20: #ffffff33;
  --ax-colors-gray-100-30: #ffffff4d;
  --ax-colors-gray-100-5: #ffffff0d;
  --ax-colors-gray-100-50: #ffffff80;
  --ax-colors-gray-100-75: #ffffffbf;
  --ax-colors-gray-200: #f5f5f7;
  --ax-colors-gray-300: #edeff3;
  --ax-colors-gray-400: #d5d8e0;
  --ax-colors-gray-450: #bdc1cc;
  --ax-colors-gray-500: #6f7480;
  --ax-colors-gray-600: #4d5059;
  --ax-colors-gray-650: #383a40;
  --ax-colors-gray-700: #27282b;
  --ax-colors-gray-800: #151516;
  --ax-colors-gray-900: #070708;
  --ax-colors-gray-900-10: #0707081a;
  --ax-colors-gray-900-20: #07070833;
  --ax-colors-gray-900-30: #0707084d;
  --ax-colors-gray-900-5: #0707080d;
  --ax-colors-gray-900-50: #07070880;
  --ax-colors-gray-900-75: #07070880;
  --ax-colors-green-100: #e9f7ee;
  --ax-colors-green-200: #c2edd1;
  --ax-colors-green-300: #29974e;
  --ax-colors-green-400: #007c29;
  --ax-colors-green-400-10: #007c291a;
  --ax-colors-green-400-20: #007c2933;
  --ax-colors-green-400-30: #007c294d;
  --ax-colors-green-400-50: #007c2980;
  --ax-colors-info-100: #e9f0f7;
  --ax-colors-info-200: #c2d9ed;
  --ax-colors-info-300: #296297;
  --ax-colors-info-400: #00407c;
  --ax-colors-orange-100: #f7f2e9;
  --ax-colors-orange-200: #eddfc2;
  --ax-colors-orange-300: #ffaf10;
  --ax-colors-orange-400: #e59800;
  --ax-colors-orange-400-10: #e598001a;
  --ax-colors-orange-400-20: #e5980033;
  --ax-colors-orange-400-30: #e598004d;
  --ax-colors-orange-400-50: #e5980080;
  --ax-colors-red-100: #f7e9e9;
  --ax-colors-red-100-10: #f7e9e91a;
  --ax-colors-red-100-20: #f7e9e933;
  --ax-colors-red-100-30: #f7e9e94d;
  --ax-colors-red-100-50: #f7e9e980;
  --ax-colors-red-200: #edc2c2;
  --ax-colors-red-300: #deadad;
  --ax-colors-red-400: #962929;
  --ax-colors-red-400-10: #9629291a;
  --ax-colors-red-400-20: #96292933;
  --ax-colors-red-400-30: #9629294d;
  --ax-colors-red-400-50: #96292980;
  --ax-colors-red-500: #7d0000;
  --ax-colors-red-600: #670000;
}

@media (prefers-color-scheme: light) {
  :root {
    /* color */
    --ax-button-ghost-destructive-bg-active: var(--ax-colors-red-400-30);
    --ax-button-ghost-destructive-bg-default: var(--ax-colors-red-400-10);
    --ax-button-ghost-destructive-bg-disabled: var(--ax-colors-red-400-10);
    --ax-button-ghost-destructive-bg-focus: var(--ax-colors-red-400-10);
    --ax-button-ghost-destructive-bg-hover: var(--ax-colors-red-400-20);
    --ax-button-ghost-destructive-bg-loading: var(--ax-colors-red-400-10);
    --ax-button-ghost-destructive-stroke-default: var(--ax-colors-red-400);
    --ax-button-gray-bg-active: var(--ax-colors-gray-650);
    --ax-button-gray-bg-default: var(--ax-colors-gray-500);
    --ax-button-gray-bg-disabled: var(--ax-colors-gray-400);
    --ax-button-gray-bg-focus: var(--ax-colors-gray-500);
    --ax-button-gray-bg-hover: var(--ax-colors-gray-600);
    --ax-button-gray-bg-loading: var(--ax-colors-gray-500);
    --ax-button-green-bg-active: var(--ax-colors-green-300);
    --ax-button-green-bg-default: var(--ax-colors-green-300);
    --ax-button-green-bg-disabled: var(--ax-colors-gray-400);
    --ax-button-green-bg-focus: var(--ax-colors-green-300);
    --ax-button-green-bg-hover: var(--ax-colors-green-400);
    --ax-button-green-bg-loading: var(--ax-colors-green-300);
    --ax-button-orange-bg-active: var(--ax-colors-orange-300);
    --ax-button-orange-bg-default: var(--ax-colors-orange-300);
    --ax-button-orange-bg-focus: var(--ax-colors-orange-300);
    --ax-button-orange-bg-hover: var(--ax-colors-orange-400);
    --ax-button-orange-bg-loading: var(--ax-colors-orange-300);
    --ax-button-primary-bg-active: var(--ax-colors-blue-600);
    --ax-button-primary-bg-default: var(--ax-colors-blue-400);
    --ax-button-primary-bg-disabled: var(--ax-colors-gray-400);
    --ax-button-primary-bg-focus: var(--ax-colors-blue-400);
    --ax-button-primary-bg-hover: var(--ax-colors-blue-500);
    --ax-button-primary-bg-loading: var(--ax-colors-blue-400);
    --ax-button-red-bg-active: var(--ax-colors-red-600);
    --ax-button-red-bg-default: var(--ax-colors-red-400);
    --ax-button-red-bg-disabled: var(--ax-colors-gray-400);
    --ax-button-red-bg-focus: var(--ax-colors-red-400);
    --ax-button-red-bg-hover: var(--ax-colors-red-500);
    --ax-button-red-bg-loading: var(--ax-colors-red-400);
    --ax-dropdown-bg-destructive-default: var(--ax-colors-red-400-10);
    --ax-dropdown-bg-destructive-hover: var(--ax-colors-red-400-20);
    --ax-dropdown-bg-primary-default: var(--ax-colors-gray-100);
    --ax-dropdown-bg-secondary-active: var(--ax-colors-blue-400);
    --ax-dropdown-bg-secondary-default: var(--ax-colors-gray-300);
    --ax-input-bg-primary-error: var(--ax-colors-red-400-10);
    --ax-input-bg-primary-success: var(--ax-colors-green-400-10);
    --ax-input-stroke-primary-default: var(--ax-colors-gray-400);
    --ax-input-stroke-primary-error: var(--ax-colors-red-400);
    --ax-input-stroke-primary-focus: var(--ax-colors-blue-400);
    --ax-input-stroke-primary-success: var(--ax-colors-green-400);
    --ax-nav-button-bg-primary-hover: var(--ax-colors-gray-900-5);
    --ax-nav-button-icon-primary-active: var(--ax-colors-blue-400);
    --ax-nav-button-icon-primary-default: var(--ax-colors-gray-600);
    --ax-nav-button-icon-primary-disabled: var(--ax-colors-gray-450);
    --ax-nav-button-icon-primary-hover: var(--ax-colors-gray-800);
    --ax-node-bg-primary-default: var(--ax-colors-gray-100);
    --ax-node-bg-primary-disabled: var(--ax-colors-gray-200);
    --ax-node-bg-primary-hover: var(--ax-colors-gray-200);
    --ax-node-bg-secondary-default: var(--ax-colors-gray-200);
    --ax-node-bg-tertiary-default: var(--ax-colors-gray-500);
    --ax-node-bg-tertiary-hover: var(--ax-colors-gray-650);
    --ax-node-icon-primary-default: var(--ax-colors-blue-400);
    --ax-node-icon-primary-disabled: var(--ax-colors-gray-900-30);
    --ax-node-notify-bg-default: var(--ax-colors-orange-400);
    --ax-node-notify-ico-default: var(--ax-colors-orange-100);
    --ax-node-port-fill-active: var(--ax-colors-blue-400);
    --ax-node-port-fill-default: var(--ax-colors-gray-100);
    --ax-node-port-stroke-active: var(--ax-colors-gray-100);
    --ax-node-port-stroke-default: var(--ax-colors-gray-500);
    --ax-node-stroke-primary-default: var(--ax-colors-gray-400);
    --ax-node-stroke-primary-hover: var(--ax-colors-blue-400);
    --ax-node-txt-disabled: var(--ax-colors-gray-900-30);
    --ax-pt-bg-primary-default: var(--ax-colors-gray-700);
    --ax-pt-stroke-primary-default: var(--ax-colors-gray-600);
    --ax-scrollbar-bg-default: var(--ax-colors-gray-400);
    --ax-snackbar-bg-default: var(--ax-colors-gray-900-5);
    --ax-snackbar-bg-error: var(--ax-colors-red-400-10);
    --ax-snackbar-bg-information: var(--ax-colors-blue-400-10);
    --ax-snackbar-bg-success: var(--ax-colors-green-400-10);
    --ax-snackbar-bg-warning: var(--ax-colors-orange-400-10);
    --ax-tooltip-bg-blue: var(--ax-colors-blue-600);
    --ax-tooltip-bg-default: var(--ax-colors-gray-800);
    --ax-txt-destructive-disabled: var(--ax-colors-red-400-50);
    --ax-txt-destuctive-default: var(--ax-colors-red-400);
    --ax-txt-error-default: var(--ax-colors-red-400);
    --ax-txt-info-default: var(--ax-colors-blue-600);
    --ax-txt-primary-default: var(--ax-colors-gray-800);
    --ax-txt-primary-disabled: var(--ax-colors-gray-100-75);
    --ax-txt-primary-inverse: var(--ax-colors-gray-100);
    --ax-txt-primary-white: var(--ax-colors-gray-100);
    --ax-txt-quaternary-default: var(--ax-colors-gray-450);
    --ax-txt-secondary-default: var(--ax-colors-gray-600);
    --ax-txt-secondary-inverse: var(--ax-colors-gray-300);
    --ax-txt-success-default: var(--ax-colors-green-400);
    --ax-txt-tertiary-default: var(--ax-colors-gray-500);
    --ax-txt-tooltip-blue: var(--ax-colors-gray-100);
    --ax-txt-tooltip-bw: var(--ax-colors-gray-100);
    --ax-txt-warning-default: var(--ax-colors-orange-400);
    --ax-ui-bg-primary-default: var(--ax-colors-gray-100);
    --ax-ui-bg-secondary-default: var(--ax-colors-gray-200);
    --ax-ui-bg-tertiary-default: var(--ax-colors-gray-300);
    --ax-ui-bg-tertiary-selected: var(--ax-colors-blue-400);
    --ax-ui-canvas-dots-default: var(--ax-colors-gray-500);
    --ax-ui-separator-primary-default: var(--ax-colors-gray-300);
    --ax-ui-stroke-primary-default: var(--ax-colors-gray-300);
    --ax-ui-stroke-primary-focus: var(--ax-colors-gray-500);
    --ax-ui-stroke-secondary-default: var(--ax-colors-gray-400);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* color */
    --ax-button-ghost-destructive-bg-active: var(--ax-colors-red-400-30);
    --ax-button-ghost-destructive-bg-default: var(--ax-colors-red-400-10);
    --ax-button-ghost-destructive-bg-disabled: var(--ax-colors-red-400-10);
    --ax-button-ghost-destructive-bg-focus: var(--ax-colors-red-400-10);
    --ax-button-ghost-destructive-bg-hover: var(--ax-colors-red-400-20);
    --ax-button-ghost-destructive-bg-loading: var(--ax-colors-red-400-10);
    --ax-button-ghost-destructive-stroke-default: var(--ax-colors-red-400);
    --ax-button-gray-bg-active: var(--ax-colors-gray-500);
    --ax-button-gray-bg-default: var(--ax-colors-gray-650);
    --ax-button-gray-bg-disabled: var(--ax-colors-gray-500);
    --ax-button-gray-bg-focus: var(--ax-colors-gray-650);
    --ax-button-gray-bg-hover: var(--ax-colors-gray-600);
    --ax-button-gray-bg-loading: var(--ax-colors-gray-650);
    --ax-button-green-bg-active: var(--ax-colors-green-300);
    --ax-button-green-bg-default: var(--ax-colors-green-300);
    --ax-button-green-bg-disabled: var(--ax-colors-gray-400);
    --ax-button-green-bg-focus: var(--ax-colors-green-300);
    --ax-button-green-bg-hover: var(--ax-colors-green-400);
    --ax-button-green-bg-loading: var(--ax-colors-green-300);
    --ax-button-orange-bg-active: var(--ax-colors-orange-300);
    --ax-button-orange-bg-default: var(--ax-colors-orange-300);
    --ax-button-orange-bg-focus: var(--ax-colors-orange-300);
    --ax-button-orange-bg-hover: var(--ax-colors-orange-400);
    --ax-button-orange-bg-loading: var(--ax-colors-orange-300);
    --ax-button-primary-bg-active: var(--ax-colors-blue-600);
    --ax-button-primary-bg-default: var(--ax-colors-blue-400);
    --ax-button-primary-bg-disabled: var(--ax-colors-gray-600);
    --ax-button-primary-bg-focus: var(--ax-colors-blue-400);
    --ax-button-primary-bg-hover: var(--ax-colors-blue-500);
    --ax-button-primary-bg-loading: var(--ax-colors-blue-400);
    --ax-button-red-bg-active: var(--ax-colors-red-600);
    --ax-button-red-bg-default: var(--ax-colors-red-400);
    --ax-button-red-bg-disabled: var(--ax-colors-gray-400);
    --ax-button-red-bg-focus: var(--ax-colors-red-400);
    --ax-button-red-bg-hover: var(--ax-colors-red-500);
    --ax-button-red-bg-loading: var(--ax-colors-red-400);
    --ax-dropdown-bg-destructive-default: var(--ax-colors-red-400-30);
    --ax-dropdown-bg-destructive-hover: var(--ax-colors-red-400-50);
    --ax-dropdown-bg-primary-default: var(--ax-colors-gray-650);
    --ax-dropdown-bg-secondary-active: var(--ax-colors-blue-400);
    --ax-dropdown-bg-secondary-default: var(--ax-colors-gray-600);
    --ax-input-bg-primary-error: var(--ax-colors-red-400-10);
    --ax-input-bg-primary-success: var(--ax-colors-green-400-10);
    --ax-input-stroke-primary-default: var(--ax-colors-gray-600);
    --ax-input-stroke-primary-error: var(--ax-colors-red-400);
    --ax-input-stroke-primary-focus: var(--ax-colors-blue-400);
    --ax-input-stroke-primary-success: var(--ax-colors-green-400);
    --ax-nav-button-bg-primary-hover: var(--ax-colors-gray-100-5);
    --ax-nav-button-icon-primary-active: var(--ax-colors-blue-400);
    --ax-nav-button-icon-primary-default: var(--ax-colors-gray-400);
    --ax-nav-button-icon-primary-disabled: var(--ax-colors-gray-600);
    --ax-nav-button-icon-primary-hover: var(--ax-colors-gray-100);
    --ax-node-bg-primary-default: var(--ax-colors-gray-700);
    --ax-node-bg-primary-disabled: var(--ax-colors-gray-800);
    --ax-node-bg-primary-hover: var(--ax-colors-gray-650);
    --ax-node-bg-secondary-default: var(--ax-colors-gray-800);
    --ax-node-bg-tertiary-default: var(--ax-colors-gray-650);
    --ax-node-bg-tertiary-hover: var(--ax-colors-gray-700);
    --ax-node-icon-primary-default: var(--ax-colors-blue-400);
    --ax-node-icon-primary-disabled: var(--ax-colors-gray-100-30);
    --ax-node-notify-bg-default: var(--ax-colors-orange-400);
    --ax-node-notify-ico-default: var(--ax-colors-orange-100);
    --ax-node-port-fill-active: var(--ax-colors-blue-400);
    --ax-node-port-fill-default: var(--ax-colors-gray-100);
    --ax-node-port-stroke-active: var(--ax-colors-gray-100);
    --ax-node-port-stroke-default: var(--ax-colors-gray-500);
    --ax-node-stroke-primary-default: var(--ax-colors-gray-600);
    --ax-node-stroke-primary-hover: var(--ax-colors-blue-400);
    --ax-node-txt-disabled: var(--ax-colors-gray-100-30);
    --ax-pt-bg-primary-default: var(--ax-colors-gray-200);
    --ax-pt-stroke-primary-default: var(--ax-colors-gray-300);
    --ax-scrollbar-bg-default: var(--ax-colors-gray-500);
    --ax-snackbar-bg-default: var(--ax-colors-gray-100-10);
    --ax-snackbar-bg-error: var(--ax-colors-red-400-10);
    --ax-snackbar-bg-information: var(--ax-colors-blue-400-10);
    --ax-snackbar-bg-success: var(--ax-colors-green-400-10);
    --ax-snackbar-bg-warning: var(--ax-colors-orange-400-10);
    --ax-tooltip-bg-blue: var(--ax-colors-blue-600);
    --ax-tooltip-bg-default: var(--ax-colors-gray-300);
    --ax-txt-destructive-disabled: var(--ax-colors-red-100-30);
    --ax-txt-destuctive-default: var(--ax-colors-red-100);
    --ax-txt-error-default: var(--ax-colors-red-100);
    --ax-txt-info-default: var(--ax-colors-blue-200);
    --ax-txt-primary-default: var(--ax-colors-gray-100);
    --ax-txt-primary-disabled: var(--ax-colors-gray-100-30);
    --ax-txt-primary-inverse: var(--ax-colors-gray-100);
    --ax-txt-primary-white: var(--ax-colors-gray-100);
    --ax-txt-quaternary-default: var(--ax-colors-gray-600);
    --ax-txt-secondary-default: var(--ax-colors-gray-400);
    --ax-txt-secondary-inverse: var(--ax-colors-gray-700);
    --ax-txt-success-default: var(--ax-colors-green-200);
    --ax-txt-tertiary-default: var(--ax-colors-gray-500);
    --ax-txt-tooltip-blue: var(--ax-colors-gray-100);
    --ax-txt-tooltip-bw: var(--ax-colors-gray-800);
    --ax-txt-warning-default: var(--ax-colors-orange-100);
    --ax-ui-bg-primary-default: var(--ax-colors-gray-700);
    --ax-ui-bg-secondary-default: var(--ax-colors-gray-650);
    --ax-ui-bg-tertiary-default: var(--ax-colors-gray-800);
    --ax-ui-bg-tertiary-selected: var(--ax-colors-blue-400);
    --ax-ui-canvas-dots-default: var(--ax-colors-gray-650);
    --ax-ui-separator-primary-default: var(--ax-colors-gray-600);
    --ax-ui-stroke-primary-default: var(--ax-colors-gray-650);
    --ax-ui-stroke-primary-focus: var(--ax-colors-gray-500);
    --ax-ui-stroke-secondary-default: var(--ax-colors-gray-600);
  }
}

html[data-theme='light'] {
  /* color */
  --ax-button-ghost-destructive-bg-active: var(--ax-colors-red-400-30);
  --ax-button-ghost-destructive-bg-default: var(--ax-colors-red-400-10);
  --ax-button-ghost-destructive-bg-disabled: var(--ax-colors-red-400-10);
  --ax-button-ghost-destructive-bg-focus: var(--ax-colors-red-400-10);
  --ax-button-ghost-destructive-bg-hover: var(--ax-colors-red-400-20);
  --ax-button-ghost-destructive-bg-loading: var(--ax-colors-red-400-10);
  --ax-button-ghost-destructive-stroke-default: var(--ax-colors-red-400);
  --ax-button-gray-bg-active: var(--ax-colors-gray-650);
  --ax-button-gray-bg-default: var(--ax-colors-gray-500);
  --ax-button-gray-bg-disabled: var(--ax-colors-gray-400);
  --ax-button-gray-bg-focus: var(--ax-colors-gray-500);
  --ax-button-gray-bg-hover: var(--ax-colors-gray-600);
  --ax-button-gray-bg-loading: var(--ax-colors-gray-500);
  --ax-button-green-bg-active: var(--ax-colors-green-300);
  --ax-button-green-bg-default: var(--ax-colors-green-300);
  --ax-button-green-bg-disabled: var(--ax-colors-gray-400);
  --ax-button-green-bg-focus: var(--ax-colors-green-300);
  --ax-button-green-bg-hover: var(--ax-colors-green-400);
  --ax-button-green-bg-loading: var(--ax-colors-green-300);
  --ax-button-orange-bg-active: var(--ax-colors-orange-300);
  --ax-button-orange-bg-default: var(--ax-colors-orange-300);
  --ax-button-orange-bg-focus: var(--ax-colors-orange-300);
  --ax-button-orange-bg-hover: var(--ax-colors-orange-400);
  --ax-button-orange-bg-loading: var(--ax-colors-orange-300);
  --ax-button-primary-bg-active: var(--ax-colors-blue-600);
  --ax-button-primary-bg-default: var(--ax-colors-blue-400);
  --ax-button-primary-bg-disabled: var(--ax-colors-gray-400);
  --ax-button-primary-bg-focus: var(--ax-colors-blue-400);
  --ax-button-primary-bg-hover: var(--ax-colors-blue-500);
  --ax-button-primary-bg-loading: var(--ax-colors-blue-400);
  --ax-button-red-bg-active: var(--ax-colors-red-600);
  --ax-button-red-bg-default: var(--ax-colors-red-400);
  --ax-button-red-bg-disabled: var(--ax-colors-gray-400);
  --ax-button-red-bg-focus: var(--ax-colors-red-400);
  --ax-button-red-bg-hover: var(--ax-colors-red-500);
  --ax-button-red-bg-loading: var(--ax-colors-red-400);
  --ax-dropdown-bg-destructive-default: var(--ax-colors-red-400-10);
  --ax-dropdown-bg-destructive-hover: var(--ax-colors-red-400-20);
  --ax-dropdown-bg-primary-default: var(--ax-colors-gray-100);
  --ax-dropdown-bg-secondary-active: var(--ax-colors-blue-400);
  --ax-dropdown-bg-secondary-default: var(--ax-colors-gray-300);
  --ax-input-bg-primary-error: var(--ax-colors-red-400-10);
  --ax-input-bg-primary-success: var(--ax-colors-green-400-10);
  --ax-input-stroke-primary-default: var(--ax-colors-gray-400);
  --ax-input-stroke-primary-error: var(--ax-colors-red-400);
  --ax-input-stroke-primary-focus: var(--ax-colors-blue-400);
  --ax-input-stroke-primary-success: var(--ax-colors-green-400);
  --ax-nav-button-bg-primary-hover: var(--ax-colors-gray-900-5);
  --ax-nav-button-icon-primary-active: var(--ax-colors-blue-400);
  --ax-nav-button-icon-primary-default: var(--ax-colors-gray-600);
  --ax-nav-button-icon-primary-disabled: var(--ax-colors-gray-450);
  --ax-nav-button-icon-primary-hover: var(--ax-colors-gray-800);
  --ax-node-bg-primary-default: var(--ax-colors-gray-100);
  --ax-node-bg-primary-disabled: var(--ax-colors-gray-200);
  --ax-node-bg-primary-hover: var(--ax-colors-gray-200);
  --ax-node-bg-secondary-default: var(--ax-colors-gray-200);
  --ax-node-bg-tertiary-default: var(--ax-colors-gray-500);
  --ax-node-bg-tertiary-hover: var(--ax-colors-gray-650);
  --ax-node-icon-primary-default: var(--ax-colors-blue-400);
  --ax-node-icon-primary-disabled: var(--ax-colors-gray-900-30);
  --ax-node-notify-bg-default: var(--ax-colors-orange-400);
  --ax-node-notify-ico-default: var(--ax-colors-orange-100);
  --ax-node-port-fill-active: var(--ax-colors-blue-400);
  --ax-node-port-fill-default: var(--ax-colors-gray-100);
  --ax-node-port-stroke-active: var(--ax-colors-gray-100);
  --ax-node-port-stroke-default: var(--ax-colors-gray-500);
  --ax-node-stroke-primary-default: var(--ax-colors-gray-400);
  --ax-node-stroke-primary-hover: var(--ax-colors-blue-400);
  --ax-node-txt-disabled: var(--ax-colors-gray-900-30);
  --ax-pt-bg-primary-default: var(--ax-colors-gray-700);
  --ax-pt-stroke-primary-default: var(--ax-colors-gray-600);
  --ax-scrollbar-bg-default: var(--ax-colors-gray-400);
  --ax-snackbar-bg-default: var(--ax-colors-gray-900-5);
  --ax-snackbar-bg-error: var(--ax-colors-red-400-10);
  --ax-snackbar-bg-information: var(--ax-colors-blue-400-10);
  --ax-snackbar-bg-success: var(--ax-colors-green-400-10);
  --ax-snackbar-bg-warning: var(--ax-colors-orange-400-10);
  --ax-tooltip-bg-blue: var(--ax-colors-blue-600);
  --ax-tooltip-bg-default: var(--ax-colors-gray-800);
  --ax-txt-destructive-disabled: var(--ax-colors-red-400-50);
  --ax-txt-destuctive-default: var(--ax-colors-red-400);
  --ax-txt-error-default: var(--ax-colors-red-400);
  --ax-txt-info-default: var(--ax-colors-blue-600);
  --ax-txt-primary-default: var(--ax-colors-gray-800);
  --ax-txt-primary-disabled: var(--ax-colors-gray-100-75);
  --ax-txt-primary-inverse: var(--ax-colors-gray-100);
  --ax-txt-primary-white: var(--ax-colors-gray-100);
  --ax-txt-quaternary-default: var(--ax-colors-gray-450);
  --ax-txt-secondary-default: var(--ax-colors-gray-600);
  --ax-txt-secondary-inverse: var(--ax-colors-gray-300);
  --ax-txt-success-default: var(--ax-colors-green-400);
  --ax-txt-tertiary-default: var(--ax-colors-gray-500);
  --ax-txt-tooltip-blue: var(--ax-colors-gray-100);
  --ax-txt-tooltip-bw: var(--ax-colors-gray-100);
  --ax-txt-warning-default: var(--ax-colors-orange-400);
  --ax-ui-bg-primary-default: var(--ax-colors-gray-100);
  --ax-ui-bg-secondary-default: var(--ax-colors-gray-200);
  --ax-ui-bg-tertiary-default: var(--ax-colors-gray-300);
  --ax-ui-bg-tertiary-selected: var(--ax-colors-blue-400);
  --ax-ui-canvas-dots-default: var(--ax-colors-gray-500);
  --ax-ui-separator-primary-default: var(--ax-colors-gray-300);
  --ax-ui-stroke-primary-default: var(--ax-colors-gray-300);
  --ax-ui-stroke-primary-focus: var(--ax-colors-gray-500);
  --ax-ui-stroke-secondary-default: var(--ax-colors-gray-400);
}

html[data-theme='dark'] {
  /* color */
  --ax-button-ghost-destructive-bg-active: var(--ax-colors-red-400-30);
  --ax-button-ghost-destructive-bg-default: var(--ax-colors-red-400-10);
  --ax-button-ghost-destructive-bg-disabled: var(--ax-colors-red-400-10);
  --ax-button-ghost-destructive-bg-focus: var(--ax-colors-red-400-10);
  --ax-button-ghost-destructive-bg-hover: var(--ax-colors-red-400-20);
  --ax-button-ghost-destructive-bg-loading: var(--ax-colors-red-400-10);
  --ax-button-ghost-destructive-stroke-default: var(--ax-colors-red-400);
  --ax-button-gray-bg-active: var(--ax-colors-gray-500);
  --ax-button-gray-bg-default: var(--ax-colors-gray-650);
  --ax-button-gray-bg-disabled: var(--ax-colors-gray-500);
  --ax-button-gray-bg-focus: var(--ax-colors-gray-650);
  --ax-button-gray-bg-hover: var(--ax-colors-gray-600);
  --ax-button-gray-bg-loading: var(--ax-colors-gray-650);
  --ax-button-green-bg-active: var(--ax-colors-green-300);
  --ax-button-green-bg-default: var(--ax-colors-green-300);
  --ax-button-green-bg-disabled: var(--ax-colors-gray-400);
  --ax-button-green-bg-focus: var(--ax-colors-green-300);
  --ax-button-green-bg-hover: var(--ax-colors-green-400);
  --ax-button-green-bg-loading: var(--ax-colors-green-300);
  --ax-button-orange-bg-active: var(--ax-colors-orange-300);
  --ax-button-orange-bg-default: var(--ax-colors-orange-300);
  --ax-button-orange-bg-focus: var(--ax-colors-orange-300);
  --ax-button-orange-bg-hover: var(--ax-colors-orange-400);
  --ax-button-orange-bg-loading: var(--ax-colors-orange-300);
  --ax-button-primary-bg-active: var(--ax-colors-blue-600);
  --ax-button-primary-bg-default: var(--ax-colors-blue-400);
  --ax-button-primary-bg-disabled: var(--ax-colors-gray-600);
  --ax-button-primary-bg-focus: var(--ax-colors-blue-400);
  --ax-button-primary-bg-hover: var(--ax-colors-blue-500);
  --ax-button-primary-bg-loading: var(--ax-colors-blue-400);
  --ax-button-red-bg-active: var(--ax-colors-red-600);
  --ax-button-red-bg-default: var(--ax-colors-red-400);
  --ax-button-red-bg-disabled: var(--ax-colors-gray-400);
  --ax-button-red-bg-focus: var(--ax-colors-red-400);
  --ax-button-red-bg-hover: var(--ax-colors-red-500);
  --ax-button-red-bg-loading: var(--ax-colors-red-400);
  --ax-dropdown-bg-destructive-default: var(--ax-colors-red-400-30);
  --ax-dropdown-bg-destructive-hover: var(--ax-colors-red-400-50);
  --ax-dropdown-bg-primary-default: var(--ax-colors-gray-650);
  --ax-dropdown-bg-secondary-active: var(--ax-colors-blue-400);
  --ax-dropdown-bg-secondary-default: var(--ax-colors-gray-600);
  --ax-input-bg-primary-error: var(--ax-colors-red-400-10);
  --ax-input-bg-primary-success: var(--ax-colors-green-400-10);
  --ax-input-stroke-primary-default: var(--ax-colors-gray-600);
  --ax-input-stroke-primary-error: var(--ax-colors-red-400);
  --ax-input-stroke-primary-focus: var(--ax-colors-blue-400);
  --ax-input-stroke-primary-success: var(--ax-colors-green-400);
  --ax-nav-button-bg-primary-hover: var(--ax-colors-gray-100-5);
  --ax-nav-button-icon-primary-active: var(--ax-colors-blue-400);
  --ax-nav-button-icon-primary-default: var(--ax-colors-gray-400);
  --ax-nav-button-icon-primary-disabled: var(--ax-colors-gray-600);
  --ax-nav-button-icon-primary-hover: var(--ax-colors-gray-100);
  --ax-node-bg-primary-default: var(--ax-colors-gray-700);
  --ax-node-bg-primary-disabled: var(--ax-colors-gray-800);
  --ax-node-bg-primary-hover: var(--ax-colors-gray-650);
  --ax-node-bg-secondary-default: var(--ax-colors-gray-800);
  --ax-node-bg-tertiary-default: var(--ax-colors-gray-650);
  --ax-node-bg-tertiary-hover: var(--ax-colors-gray-700);
  --ax-node-icon-primary-default: var(--ax-colors-blue-400);
  --ax-node-icon-primary-disabled: var(--ax-colors-gray-100-30);
  --ax-node-notify-bg-default: var(--ax-colors-orange-400);
  --ax-node-notify-ico-default: var(--ax-colors-orange-100);
  --ax-node-port-fill-active: var(--ax-colors-blue-400);
  --ax-node-port-fill-default: var(--ax-colors-gray-100);
  --ax-node-port-stroke-active: var(--ax-colors-gray-100);
  --ax-node-port-stroke-default: var(--ax-colors-gray-500);
  --ax-node-stroke-primary-default: var(--ax-colors-gray-600);
  --ax-node-stroke-primary-hover: var(--ax-colors-blue-400);
  --ax-node-txt-disabled: var(--ax-colors-gray-100-30);
  --ax-pt-bg-primary-default: var(--ax-colors-gray-200);
  --ax-pt-stroke-primary-default: var(--ax-colors-gray-300);
  --ax-scrollbar-bg-default: var(--ax-colors-gray-500);
  --ax-snackbar-bg-default: var(--ax-colors-gray-100-10);
  --ax-snackbar-bg-error: var(--ax-colors-red-400-10);
  --ax-snackbar-bg-information: var(--ax-colors-blue-400-10);
  --ax-snackbar-bg-success: var(--ax-colors-green-400-10);
  --ax-snackbar-bg-warning: var(--ax-colors-orange-400-10);
  --ax-tooltip-bg-blue: var(--ax-colors-blue-600);
  --ax-tooltip-bg-default: var(--ax-colors-gray-300);
  --ax-txt-destructive-disabled: var(--ax-colors-red-100-30);
  --ax-txt-destuctive-default: var(--ax-colors-red-100);
  --ax-txt-error-default: var(--ax-colors-red-100);
  --ax-txt-info-default: var(--ax-colors-blue-200);
  --ax-txt-primary-default: var(--ax-colors-gray-100);
  --ax-txt-primary-disabled: var(--ax-colors-gray-100-30);
  --ax-txt-primary-inverse: var(--ax-colors-gray-100);
  --ax-txt-primary-white: var(--ax-colors-gray-100);
  --ax-txt-quaternary-default: var(--ax-colors-gray-600);
  --ax-txt-secondary-default: var(--ax-colors-gray-400);
  --ax-txt-secondary-inverse: var(--ax-colors-gray-700);
  --ax-txt-success-default: var(--ax-colors-green-200);
  --ax-txt-tertiary-default: var(--ax-colors-gray-500);
  --ax-txt-tooltip-blue: var(--ax-colors-gray-100);
  --ax-txt-tooltip-bw: var(--ax-colors-gray-800);
  --ax-txt-warning-default: var(--ax-colors-orange-100);
  --ax-ui-bg-primary-default: var(--ax-colors-gray-700);
  --ax-ui-bg-secondary-default: var(--ax-colors-gray-650);
  --ax-ui-bg-tertiary-default: var(--ax-colors-gray-800);
  --ax-ui-bg-tertiary-selected: var(--ax-colors-blue-400);
  --ax-ui-canvas-dots-default: var(--ax-colors-gray-650);
  --ax-ui-separator-primary-default: var(--ax-colors-gray-600);
  --ax-ui-stroke-primary-default: var(--ax-colors-gray-650);
  --ax-ui-stroke-primary-focus: var(--ax-colors-gray-500);
  --ax-ui-stroke-secondary-default: var(--ax-colors-gray-600);
}

:root {
  /* number */
  --ax-4-rule-numerals-0: 0rem;
  --ax-4-rule-numerals-1: 0.25rem;
  --ax-4-rule-numerals-2: 0.5rem;
  --ax-4-rule-numerals-3: 0.75rem;
  --ax-4-rule-numerals-4: 1rem;
  --ax-4-rule-numerals-5: 1.25rem;
  --ax-4-rule-numerals-6: 1.5rem;
  --ax-4-rule-numerals-7: 1.75rem;
  --ax-4-rule-numerals-8: 2rem;
  --ax-even-numerals-0: 0rem;
  --ax-even-numerals-1: 0.125rem;
  --ax-even-numerals-2: 0.25rem;
  --ax-even-numerals-3: 0.375rem;
  --ax-even-numerals-4: 0.5rem;
  --ax-even-numerals-5: 0.625rem;
  --ax-even-numerals-6: 0.75rem;
  --ax-even-numerals-100: 6.25rem;
  --ax-radius-button-radius-1: var(--ax-even-numerals-1);
  --ax-radius-button-radius-2: var(--ax-even-numerals-2);
  --ax-radius-element-radius-1: var(--ax-4-rule-numerals-1);
  --ax-radius-button-radius-3: var(--ax-even-numerals-3);
  --ax-radius-button-radius-4: var(--ax-even-numerals-4);
  --ax-radius-element-radius-2: var(--ax-4-rule-numerals-2);
  --ax-radius-element-radius-3: var(--ax-4-rule-numerals-3);
  --ax-radius-element-radius-4: var(--ax-4-rule-numerals-4);
  --ax-radius-element-radius-5: var(--ax-4-rule-numerals-5);
  --ax-radius-element-radius-6: var(--ax-4-rule-numerals-6);
  --ax-radius-button-radius-max: var(--ax-even-numerals-100);
  --ax-spacing-spacing-7: var(--ax-4-rule-numerals-1);
  --ax-spacing-spacing-6: var(--ax-4-rule-numerals-2);
  --ax-spacing-spacing-5: var(--ax-4-rule-numerals-3);
  --ax-spacing-spacing-4: var(--ax-4-rule-numerals-4);
  --ax-spacing-spacing-3: var(--ax-4-rule-numerals-5);
  --ax-spacing-spacing-2: var(--ax-4-rule-numerals-6);
  --ax-spacing-spacing-1: var(--ax-4-rule-numerals-8);
}
