@layer ui.component {
  .backdrop {
    position: fixed;
    inset: 0;
    background-color: var(--ax-public-modal-backdrop-background);
    z-index: 1000;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--ax-public-modal-background);
    border-radius: var(--ax-public-modal-border-radius);
    width: var(--ax-public-modal-width);
    z-index: 1001;
    outline: none;
    overflow: auto;
  }

  .header {
    display: flex;
    padding: var(--ax-public-modal-padding);
    justify-content: space-between;
    align-items: center;
    border-radius: var(--ax-public-modal-border-radius) var(--ax-public-modal-border-radius) 0
      0;
    border-bottom: 0.0625rem solid var(--ax-public-modal-header-border-color);
    background: var(--ax-public-modal-header-background);
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .icon {
    display: flex;
    padding: var(--ax-public-modal-icon-padding);
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.375rem;
    background: var(--ax-public-modal-icon-background);
    color: var(--ax-public-modal-icon-color);
  }

  .title {
    margin: 0;
    color: var(--ax-public-modal-title-color);
  }

  .description {
    color: var(--ax-public-modal-description-color);
    font-family: Poppins;
    font-size: var(--ax-public-modal-description-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--ax-public-modal-description-line-height);
    margin: 0;
  }

  .content {
    display: flex;
    padding: var(--ax-public-modal-content-padding);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    align-self: stretch;
    background: var(--ax-public-modal-content-background);
  }

  .footer {
    display: flex;
    padding: var(--ax-public-modal-footer-padding);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    &.separated {
      border-top: 1px solid var(--ax-public-modal-footer-border-color);
    }
  }

  .large {
    width: var(--ax-public-modal-large-width);

    .header {
      padding: var(--ax-public-modal-large-padding);
    }

    .title {
      font-size: var(--ax-public-modal-large-title-size);
      line-height: var(--ax-public-modal-large-title-line-height);
    }

    .icon {
      padding: var(--ax-public-modal-large-icon-padding);
    }

    .content {
      padding: var(--ax-public-modal-large-padding);
    }

    .footer {
      &.separated {
        padding: var(--ax-public-modal-large-padding);
      }

      &.integrated {
        padding: 0 var(--ax-public-modal-large-padding) var(--ax-public-modal-large-padding)
          var(--ax-public-modal-large-padding);
      }
    }
  }
}
