:root {
  --ax-public-modal-width: 26.25rem;
  --ax-public-modal-border-radius: var(--ax-token-radius-modal-m);
  --ax-public-modal-padding: var(--ax-token-spacing-modal-m-header-pad);

  --ax-public-modal-description-size: 0.625rem;
  --ax-public-modal-description-line-height: 140%;

  --ax-public-modal-icon-padding: var(--ax-token-spacing-button-m-v-pad-2);
  --ax-public-modal-content-padding: var(
      --ax-token-spacing-modal-m-content-v-pad
    )
    var(--ax-token-spacing-modal-m-content-h-pad);
  --ax-public-modal-footer-padding: 0px
    var(--ax-token-spacing-modal-m-header-pad)
    var(--ax-token-spacing-modal-m-header-pad)
    var(--ax-token-spacing-modal-m-header-pad);

  --ax-public-modal-background: var(--ax-ui-bg-primary-default);
  --ax-public-modal-backdrop-background: rgb(0 0 0 / 0.5); /* missing token */
  --ax-public-modal-close-button-color: var(
    --ax-nav-button-icon-primary-default
  );
  --ax-public-modal-header-background: var(--ax-ui-bg-secondary-default);
  --ax-public-modal-header-border-color: var(--ax-ui-stroke-primary-default);
  --ax-public-modal-title-color: var(--ax-txt-primary-default);
  --ax-public-modal-description-color: var(--ax-txt-secondary-default);
  --ax-public-modal-icon-background: var(--ax-button-primary-bg-default);
  --ax-public-modal-icon-color: var(--ax-txt-primary-white);
  --ax-public-modal-content-background: var(--ax-ui-bg-primary-default);
  --ax-public-modal-footer-border-color: var(--ax-ui-stroke-primary-default);

  --ax-public-modal-large-width: 30rem;
  --ax-public-modal-large-padding: var(--ax-token-spacing-modal-l-header-pad);
  --ax-public-modal-large-title-size: 1.125rem;
  --ax-public-modal-large-title-line-height: 130%;
  --ax-public-modal-large-icon-padding: var(--ax-token-spacing-button-l-v-pad-2);
}
