:root {
  --wb-modal-width: 26.25rem;
  --wb-modal-border-radius: 1rem;
  --wb-modal-padding: 1rem;

  --wb-modal-description-size: 0.625rem;
  --wb-modal-description-line-height: 140%;

  --wb-modal-icon-padding: 0.5625rem;
  --wb-modal-content-padding: 1.5rem 1rem;
  --wb-modal-footer-padding: 0 1rem 1rem 1rem;

  --wb-modal-background: var(--ax-ui-bg-primary-default);
  --wb-modal-backdrop-background: rgb(0 0 0 / 0.5); /* missing token */
  --wb-modal-close-button-color: var(--ax-nav-button-icon-primary-default);
  --wb-modal-header-background: var(--ax-ui-bg-secondary-default);
  --wb-modal-header-border-color: var(--ax-ui-stroke-primary-default);
  --wb-modal-title-color: var(--ax-txt-primary-default);
  --wb-modal-description-color: var(--ax-txt-secondary-default);
  --wb-modal-icon-background: var(--ax-button-primary-bg-default);
  --wb-modal-icon-color: var(--ax-txt-primary-white);
  --wb-modal-content-background: var(--ax-ui-bg-primary-default);
  --wb-modal-footer-border-color: var(--ax-ui-stroke-primary-default);

  --wb-modal-large-width: 30rem;
  --wb-modal-large-padding: 1.5rem;
  --wb-modal-large-title-size: 1.125rem;
  --wb-modal-large-title-line-height: 130%;
  --wb-modal-large-icon-padding: 0.6875rem;
}
