@layer ui.component {
  .container {
    display: flex;
    width: 100%;
    min-width: 100px;
    align-items: center;
    background-color: transparent;
    cursor: pointer;

    color: var(--wb-select-button-color);

    border: 1px solid var(--wb-select-button-border-color);

    &:not(:hover) {
      transition: all var(--wb-transition);
    }

    &:global(.base--expanded) {
      border-color: var(--wb-select-button-border-color-focus);
    }

    &:focus-visible {
      border-color: var(--wb-select-button-border-color-focus);
      outline: none;
    }

    &:disabled {
      color: var(--wb-select-button-color-disabled);
      cursor: auto;
    }

    svg {
      width: 1rem;
      height: 1rem;
      min-width: 1rem;
    }
  }
}
