:root {
  --wb-radio-size-large: 1.25rem;
  --wb-radio-size-medium: 1.125rem;
  --wb-radio-size-small: 1rem;

  --wb-radio-dot-size-large: 0.625rem;
  --wb-radio-dot-size-medium: 0.5rem;
  --wb-radio-dot-size-small: 0.5rem;

  --wb-radio-border-width: 0.0625rem;

  --wb-radio-border-color: var(--color-ui-ui--stroke--secondary--default);
  --wb-radio-bg: var(--color-ui-ui--bg--primary--default);
  --wb-radio-checked-bg: var(--color-ui-ui--bg--tertiary--selected,);
  --wb-radio-dot-color: var(--colors-gray-gray-100); /* missing token */

  --wb-radio-focus-border-color: #000000; /* missing token */

  --wb-radio-disabled-border-color: var(
    --color-ui-ui--stroke--secondary--default
  );
  --wb-radio-disabled-bg: var(--color-ui-ui--bg--tertiary--default);
  --wb-radio-disabled-dot-color: var(
    --color-ui-nav-bttn--icon--primary--disabled
  );
}
