@import '../dist/tokens.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.preview-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preview-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  composes: ax-public-h1 from global;
}

.preview-content {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

html,
body,
:global(#root) {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:global(#root) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

* {
  font-family: 'Poppins', sans-serif;
}
