:root {
  --wb-checkbox-size-large: 1.25rem; 
  --wb-checkbox-size-small: 1rem; 
  --wb-checkbox-size: 1.125rem; 

  --wb-checkbox-border-radius: 0.25rem; 
  --wb-checkbox-border-width: 0.0625rem; 

  --wb-checkbox-border-color: var(--ax-ui-stroke-secondary-default);
  --wb-checkbox-bg: var(--ax-ui-bg-primary-default);
  --wb-checkbox-icon-color: var(--ax-colors-gray-100); /* missing token */

  --wb-checkbox-checked-bg: var(--ax-ui-bg-tertiary-selected);

  --wb-checkbox-focus-border-color: var(--ax-ui-stroke-secondary-default);
  --wb-checkbox-focus-border-shadow: #000; /* missing token */

  --wb-checkbox-disabled-bg: var(--ax-ui-bg-tertiary-default);
  --wb-checkbox-disabled-border-color: var(--ax-ui-stroke-secondary-default);
  --wb-checkbox-disabled-icon-color: var(--ax-nav-button-icon-primary-disabled);
}