:root {
  --ax-public-chip-padding-small: var(--ax-token-spacing-chips-s-v-pad)
    var(--ax-token-spacing-chips-s-h-pad);
  --ax-public-chip-padding-medium: var(--ax-token-spacing-chips-m-v-pad)
    var(--ax-token-spacing-chips-m-h-pad);
  --ax-public-chip-padding-large: var(--ax-token-spacing-chips-l-v-pad)
    var(--ax-token-spacing-chips-l-h-pad);
  --ax-public-chip-padding-extra-large: var(--ax-token-spacing-chips-xl-v-pad)
    var(--ax-token-spacing-chips-xl-h-pad);

  --ax-public-chip-gap-small: var(--ax-token-spacing-chips-s-gap);
  --ax-public-chip-gap-medium: var(--ax-token-spacing-chips-m-gap);
  --ax-public-chip-gap-large: var(--ax-token-spacing-chips-l-gap);
  --ax-public-chip-gap-extra-large: var(--ax-token-spacing-chips-xl-gap);

  --ax-public-chip-border-radius-small: var(--ax-token-radius-chips-s);
  --ax-public-chip-border-radius-medium: var(--ax-token-radius-chips-m);
  --ax-public-chip-border-radius-large: var(--ax-token-radius-chips-l);
  --ax-public-chip-border-radius-extra-large: var(--ax-token-radius-chips-xl);

  --ax-public-chip-bg-neutral: var(--ax-chips-neutral-bg);
  --ax-public-chip-bg-accent-1: var(--ax-chips-acc1-bg);
  --ax-public-chip-bg-accent-2: var(--ax-chips-acc2-bg);
  --ax-public-chip-bg-accent-3: var(--ax-chips-acc3-bg);
  --ax-public-chip-bg-accent-4: var(--ax-chips-acc4-bg);
  --ax-public-chip-bg-accent-5: var(--ax-chips-acc5-bg);

  --ax-public-chip-color-neutral: var(--ax-chips-neutral-txt);
  --ax-public-chip-color-accent-1: var(--ax-chips-acc1-txt);
  --ax-public-chip-color-accent-2: var(--ax-chips-acc2-txt);
  --ax-public-chip-color-accent-3: var(--ax-chips-acc3-txt);
  --ax-public-chip-color-accent-4: var(--ax-chips-acc4-txt);
  --ax-public-chip-color-accent-5: var(--ax-chips-acc5-txt);

  --ax-public-chip-border-color-neutral: transparent;
  --ax-public-chip-border-color-accent-1: var(--ax-chips-acc1-stroke);
  --ax-public-chip-border-color-accent-2: var(--ax-chips-acc2-stroke);
  --ax-public-chip-border-color-accent-3: var(--ax-chips-acc3-stroke);
  --ax-public-chip-border-color-accent-4: var(--ax-chips-acc4-stroke);
  --ax-public-chip-border-color-accent-5: var(--ax-chips-acc5-stroke);

  --ax-public-icon-color-neutral: var(--ax-chips-neutral-icon);
}

.chip {
  display: inline-flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  flex-shrink: 0;
  border: 1px solid;
}

.size-small {
  padding: var(--ax-public-chip-padding-small);
  gap: var(--ax-public-chip-gap-small);
  border-radius: var(--ax-public-chip-border-radius-small);
  composes: ax-public-p12 from global;
}
.size-medium {
  padding: var(--ax-public-chip-padding-medium);
  gap: var(--ax-public-chip-gap-medium);
  border-radius: var(--ax-public-chip-border-radius-medium);
  composes: ax-public-p12 from global;
}
.size-large {
  padding: var(--ax-public-chip-padding-large);
  gap: var(--ax-public-chip-gap-large);
  border-radius: var(--ax-public-chip-border-radius-large);
  composes: ax-public-p12 from global;
}
.size-extra-large {
  padding: var(--ax-public-chip-padding-extra-large);
  gap: var(--ax-public-chip-gap-extra-large);
  border-radius: var(--ax-public-chip-border-radius-extra-large);
  composes: ax-public-p11 from global;

  & > .delete-icon > svg,
  & > .icon > svg {
    width: var(--ax-public-icon-size-xx-small);
    height: var(--ax-public-icon-size-xx-small);
  }
}

.neutral {
  background: var(--ax-public-chip-bg-neutral);
  color: var(--ax-public-chip-color-neutral);
  border-color: var(--ax-public-chip-border-color-neutral);

  & > .icon {
    color: var(--ax-public-icon-color-neutral);
  }
}
.accent-1 {
  border-color: var(--ax-public-chip-border-color-accent-1);
  background: var(--ax-public-chip-bg-accent-1);
  color: var(--ax-public-chip-color-accent-1);
}

.accent-2 {
  border-color: var(--ax-public-chip-border-color-accent-2);
  background: var(--ax-public-chip-bg-accent-2);
  color: var(--ax-public-chip-color-accent-2);
}
.accent-3 {
  border-color: var(--ax-public-chip-border-color-accent-3);
  background: var(--ax-public-chip-bg-accent-3);
  color: var(--ax-public-chip-color-accent-3);
}
.accent-4 {
  border-color: var(--ax-public-chip-border-color-accent-4);
  background: var(--ax-public-chip-bg-accent-4);
  color: var(--ax-public-chip-color-accent-4);
}
.accent-5 {
  border-color: var(--ax-public-chip-border-color-accent-5);
  background: var(--ax-public-chip-bg-accent-5);
  color: var(--ax-public-chip-color-accent-5);
}

.delete-icon,
.icon {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  svg {
    width: var(--ax-public-icon-size-xxxx-small);
    height: var(--ax-public-icon-size-xx-small);
  }
}

.delete-icon {
  cursor: pointer;
}
