:root {
  --wb-button-icon-padding-extra-large: var(
    --ax-token-spacing-button-xl-v-pad-2
  );
  --wb-button-icon-padding-large: var(--ax-token-spacing-button-l-v-pad-2);
  --wb-button-icon-padding-medium: var(--ax-token-spacing-button-m-v-pad-2);
  --wb-button-icon-padding-small: var(--ax-token-spacing-button-s-v-pad-2);
  --wb-button-icon-padding-extra-small: var(
    --ax-token-spacing-button-xs-v-pad-2
  );
  --wb-button-icon-padding-xx-small: var(--ax-token-spacing-button-xxs-v-pad);
  --wb-button-icon-padding-xxx-small: var(--ax-token-spacing-button-xxxs-v-pad);
  --wb-button-icon-padding-xxxx-small: var(
    --ax-token-spacing-button-xxxxs-v-pad
  );
}

@layer ui.component {
  .extra-large {
    padding: var(--wb-button-icon-padding-extra-large);
  }

  .large {
    padding: var(--wb-button-icon-padding-large);
  }

  .medium {
    padding: var(--wb-button-icon-padding-medium);
  }

  .small {
    padding: var(--wb-button-icon-padding-small);
  }

  .extra-small {
    padding: var(--wb-button-icon-padding-extra-small);
  }

  .xx-small {
    padding: var(--wb-button-icon-padding-xx-small);
  }

  .xxx-small {
    padding: var(--wb-button-icon-padding-xxx-small);
  }

  .xxx-small {
    padding: var(--wb-button-icon-padding-xxxx-small);
  }
}
