.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.prop-row {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}

.prop-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  .header {
    opacity: 0.5;
  }

  .value {
    font-family: monospace;
  }
}

.prop-tag {
  font-size: 0.8rem;
  padding: 0.15rem 0.4rem;
  background: #aaaaaa;
  border-radius: 0.4rem;

  background: #eaeaea;
  color: var(--ifm-color-primary-lighter);
}
