@layer ui.component {
  .text-area-container {
    display: flex;
    min-width: 100px;
    align-items: flex-start;
    gap: 0.5rem;
    background-color: transparent;
    color: var(--wb-textarea-root-color);
    border: 1px solid var(--wb-textarea-root-border-color);

    &:not(:hover) {
      transition: all var(--wb-transition);
    }

    &:has(.text-area:focus-visible) {
      border-color: var(--wb-textarea-root-border-color-focus);
    }

    &:global(.base--error) {
      background-color: var(--wb-textarea-root-background-color-error);
      border-color: var(--wb-textarea-root-border-color-error);
      color: var(--wb-textarea-root-color-error);
    }

    &:global(.base--disabled) {
      color: var(--wb-textarea-root-color-disabled);
      background-color: var(--wb-textarea-root-background-color-disabled);
      cursor: not-allowed;
    }
  }

  .container-large {
    composes: text-area-container;
    padding: 0.6875rem 0.75rem;
    border-radius: 0.5rem;
  }

  .container-medium {
    composes: text-area-container;
    padding: 0.625rem 0.75rem;
    border-radius: 0.375rem;
  }

  .container-small {
    composes: text-area-container;
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
  }

  .text-area {
    border: none;
    background: transparent;
    padding: 0;
    color: unset;
    width: 100%;
    resize: none;
    font: inherit;

    &:focus-visible {
      outline: none;
    }

    &:disabled {
      color: var(--wb-textarea-color-disabled);
      cursor: not-allowed;
    }
  }

  .text-area-large {
    composes: text-area;
    composes: p9 from global;
  }

  .text-area-medium,
  .text-area-small {
    composes: text-area;
    composes: p10 from global;
  }
}
