:root {
  --ax-public-textarea-color-disabled: var(--ax-txt-quaternary-default);
  --ax-public-textarea-root-color: var(--ax-txt-secondary-default);
  --ax-public-textarea-root-border-color: var(--ax-input-stroke-primary-default);
  --ax-public-textarea-root-border-color-focus: var(--ax-input-stroke-primary-focus);
  --ax-public-textarea-root-background-color-error: var(--ax-input-bg-primary-error);
  --ax-public-textarea-root-border-color-error: var(--ax-input-stroke-primary-error);
  --ax-public-textarea-root-color-error: var(--ax-txt-error-default);
  --ax-public-textarea-root-color-disabled: var(--ax-txt-quaternary-default);
}
